* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Titillium Web', sans-serif;


}

body {


}



.head {
  font-size: 30px;
  text-align: center;
  color: #e46e11;
  ;
  margin: 20px;
}

.app-container {
  margin: 50px;
  background-color: rgb(42, 165, 89, 0.1);
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  border: none;
  outline: none;
  width: 50vw;
  height: 50px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}

.btn {
  margin-left: 20px;
  padding: 8px;
  width: 73px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #e46e11;
  color: blanchedalmond;
  font-size: 20px;

}

.btn:hover {
  cursor: pointer;
}

.MyDiv{  
  color:white;
  margin: 50px;
  height: 200px;
  border-radius: 20px;
  padding:20px;
  
 
}